@model QL_HDPHONGLAB.Models.DUTRUTHIETBI

@{
    ViewBag.Title = "Delete - DTHC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    .body-content {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0000;
        text-align: justify;
    }
</style>

<h2>Xóa</h2>

<h3>Bạn có chắc chắn với sự lựa chọn này?</h3>

<div class="body-content">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên Thiết Bị
                @*@Html.DisplayNameFor(model => model.TENTB)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TENTB)
            </dd>

            <dt>
                Đặc Tả:
                @*@Html.DisplayNameFor(model => model.DACTA)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DACTA)
            </dd>

            <dt>
                Số Lượng:
                @*@Html.DisplayNameFor(model => model.SOLUONG)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SOLUONG)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Xóa"  />
            </div>
        }
    </div>
</div>
