
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/templatemo-seo-dream.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/animated.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/owl.css">

<div id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="first-number number">
                                    <h6>01</h6>
                                </div>
                                <div class="icon"></div>
                                <h4>Trung tâm</h4>
                                <div class="line-dec"></div>
                                <p>Trung tâm thí nghiệm thực hành là nơi mang đến nhiều trải nghiệm và mãi dũa cho học sinh, sinh viên nền tảng trước con đường lập nghiệp.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                                <div class="second-number number">
                                    <h6>02</h6>
                                </div>
                                <div class="icon"></div>
                                <h4>Giảng viên</h4>
                                <div class="line-dec"></div>
                                <p>Là những người truyền đạt kinh nghiệm quý báu và là người giúp cho sinh viên hiểu được tầm quan trọng của công cuộc lập nghiệp sau này.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                                <div class="third-number number">
                                    <h6>03</h6>
                                </div>
                                <div class="icon"></div>
                                <h4>Sinh viên</h4>
                                <div class="line-dec"></div>
                                <p>Là những người có trách nhiệm với bản thân và quyết định con đường tương lai sau này mà bản thân muốn hướng tới và là một người như thế nào cho xã hội.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                <div class="fourth-number number">
                                    <h6>04</h6>
                                </div>
                                <div class="icon"></div>
                                <h4>Kết quả thực nghiệm</h4>
                                <div class="line-dec"></div>
                                <p>Dưới sự dạy bảo của nhà trường. Ngoài ra sinh viên còn có khả năng tự học và tự mài dũa bản thân tiếp thu những kiến thức và kinh nghiệm mà nhà trường chưa truyền đạt được.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="skills-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="progress" data-percentage="80">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            80%<br>
                                            <span>Tinh thần tự học</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <div class="progress" data-percentage="60">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            60%<br>
                                            <span>Chuyên cần</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                <div class="progress" data-percentage="90">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            90%<br>
                                            <span>Đạo đức nghề nghiệp</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                <div class="progress" data-percentage="70">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            70%<br>
                                            <span>Nổ lực phấn đấu</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
