@model QL_HDPHONGLAB.Models.PHONGBAN

@{
    ViewBag.Title = "Delete - Phòng Ban";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .body-content {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0000;
        text-align: justify;
    }
</style>

<h2>Xóa Phòng Ban</h2>

<h3>Bạn có chắc chắn với sự lựa chọn này?</h3>
<div class="body-content">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên Phòng Ban:
                @*@Html.DisplayNameFor(model => model.TENPHBAN)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TENPHBAN)
            </dd>

            <dt>
                Địa Điểm:
                @*@Html.DisplayNameFor(model => model.DIADIEM)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIADIEM)
            </dd>

            <dt>
                Ghi Chú:
                @*@Html.DisplayNameFor(model => model.GHICHU)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GHICHU)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Xóa"  />
            </div>
        }
    </div>
</div>
