@using QL_HDPHONGLAB.Models
@model CHITIETPHIEUXUAT

@{
    ViewBag.Title = "Thêm Phiếu Xuất";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    IEnumerable<HOACHAT> listHoaChat = ViewBag.HoaChat as IEnumerable<HOACHAT>;     
}

<div class="container">
    @using (Html.BeginForm("ThemPhieuXuat", "PhieuXuat"))
    {
        <div class="page-title-container">
            <div class="row">
                <div class="col-auto mb-3 mb-md-0 me-auto">
                    <div class="w-auto sw-md-30">
                        <h1 class="mb-0 pb-0 display-4" id="title">Phiếu Xuất Kho</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-6 order-1 order-lg-0">
                <h2 class="small-title">Thông tin phiếu xuất</h2>
                <div id="addressForm" class="tooltip-label-end" novalidate="">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Ngày Xuất</label>
                                    <input class="form-control" type="date" name="NgayXuat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- #region Phần Hoá Chất Nhập -->
        <table class="table ChiTietHoaChat">
            <tr class="trAppend" style="display:none">
                <td>
                    <select class="ddlHoaChat form-select" name="">
                        @foreach (var item in listHoaChat)
                        {
                            <option value="@item.MAHC">@item.TENHC</option>
                        }
                    </select>
                </td>
                <td>
                    <input name="" class="txtSoLuongXuat form-control">
                </td>
                <td>
                    <input class="btnXoa" style="width:30px;height:30px" value="xóa">
                </td>
            </tr>
            <tr class="trFirstChild" data-id="-1">
                <td>Hoá Chất Xuất</td>
                <td>Số Lượng Xuất (kg)</td>
                <td></td>
            </tr>
        </table>
        <input type="button" value="+" class="btn btn-success" id="btnThemHoaChat">
        <input type="submit" value="Xuất Qua Khoa" class="btn btn-primary" id="btnThemMoiHoaChat"> <!-- #endregion -->}
</div>

<script type="text/javascript">function TinhToan() {
        var gam = document.getElementById("gam").value;
        var a = 0.001
        var kq = parseFloat(a) * parseFloat(gam)
        if (!isNaN(kq)) {
            document.getElementById("kg").value = kq;
        }
    }
    // Phần appen
    $("#btnThemHoaChat").click(function () {
        // lấy id của tr cuối cùng thuộc thẻ table có class = ChiTietphieuNhap
        // Bước 4: Phương thức find là tìm đến thẻ nào đó: ở đây là thẻ tr (:last-child) là thẻ cuối cùng trong thẻ tblChiTietPhieuNhap
        var id_cuoi = $(".ChiTietHoaChat").find("tr:last-child").attr("data-id");
        i = parseInt(id_cuoi) + 1;
        // Bước 1:Nội dung phía trong thẻ trAppend
        var tdnoidung = $(".trAppend").html();
        // Bước 2: Tạo 1 thẻ tr bao ngoài nội dung
        var trnoidung = "<tr class=\"trAppended\" data-id=\"" + i + "\">" + tdnoidung + "</tr>";
        // Bước 3: Lấy thẻ table append vào 1 tr
        $(".ChiTietHoaChat").append(trnoidung);
        loadIDHoaChat();
    });

    // Phương thức sử lý lấy thuộc tính attr từ thẻ tr gắn xuống chỉ xố phần tử các trong thuộc tính name của thẻ input
    function loadIDHoaChat() {
        $(".trAppended").each(function () {
            var id = $(this).attr("data-id");
            var nameMaHoaChat = "[" + id + "].MAHC";
            var nameSoLuongXuat = "[" + id + "].SoLuongXuat";
            $(this).find(".ddlHoaChat").attr("name", nameMaHoaChat);
            $(this).find(".txtSoLuongXuat").attr("name", nameSoLuongXuat);
        });
    }
    // sử lý sự kiện xóa 1 dòng từ nút delete nằm bên trong thẻ tr
    $("body").on("click", ".btnXoa", function () {
        // Xóa phần tử cha phía ngoài
        $(this).closest(".trAppended").remove();
        CapNhatID();
    });

    function CapNhatID() {
        //Lấy lại tr 1
        var id_cuoi = $(".ChiTietHoaChat").find(".trFirstChild").attr("data-id");
        i = parseInt(id_cuoi) + 1;

        $(".trAppendSanPham").each(function () {
            var id = i;
            $(this).attr("data-id", i)
            // cập nhật lại id (tr) khi xóa
            var nameMaHoaChat = "[" + id + "].MAHC";
            var nameSoLuongXuat = "[" + id + "].SoLuongXuat";
            $(this).find(".ddlHoaChat").attr("name", nameMaHoaChat); // gán name cho dropdowlist
            $(this).find(".txtSoLuongXuat").attr("name", nameSoLuongXuat);
            i++;
        });
    }
    $("#btnThemMoiHoaChat").click(function () {
        if (KiemTraSoLuong() == false) {
            return false;
        }
    })
    // kiểm tra Số lượng xuất lớn hơn 0 và >0
    function KiemTraSoLuong() {
        var bl = true;
        // duyệt vòng lặp each
        $(".txtSoLuongXuat").each(function () {
            var giatri = $(this).val();
            if (parseFloat(giatri) < 0) {
                alert("Số lượng xuất lớn hơn 0");
                bl = false;
                return bl;
            }
            if (isNaN(giatri) == true) {
                alert("Số lượng xuất không hợp lệ !");
                bl = false;
                return bl;
            }
        });
        return bl;
    }</script>